@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners when using the 'no-spinner' class */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
